<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymclubapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SignInActivity -->
        <activity
            android:name=".activity.SignInActivity"
            android:launchMode="singleTask"></activity>

        <!-- SignUpActivity -->
        <activity
            android:name=".activity.SignUpActivity"
            android:parentActivityName=".activity.SignInActivity">

            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignInActivity" />
        </activity>

        <!-- SearchActivity -->
        <activity
            android:name=".activity.SearchActivity"
            android:parentActivityName=".activity.MainActivity">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- TempActivity -->
        <activity
            android:name=".activity.TempActivity"
            android:parentActivityName=".activity.MainActivity">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- CourseDetailActivity -->
        <activity android:name=".activity.CourseDetailActivity"
            android:parentActivityName=".activity.MainActivity">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- MoreCourseActivity -->
        <activity android:name=".activity.MoreCourseActivity"/>

        <!-- TrainingRecordActivity -->
        <activity android:name=".activity.TrainingRecordActivity"
            android:parentActivityName=".activity.MainActivity">
        <!-- 如果要支持android4.0以下的 -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />
        </activity>

    </application>

</manifest>