<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymclubapp">
    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- QQ Login Code Start-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 这地方需要用你在开放平台申请的appid:tencent+appid -->
                <data android:scheme="tencent1107957445" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- End of QQ Login Code -->

        <!-- LaunchActivity -->
        <activity android:name=".activity.LaunchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
        </activity>

        <!-- SignInActivity -->
        <activity
            android:name=".activity.SignInActivity"
            android:launchMode="singleTask"/>

        <!-- SignUpActivity -->
        <activity
            android:name=".activity.SignUpActivity"
            android:parentActivityName=".activity.SignInActivity"
            android:launchMode="singleTask">

            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SignInActivity" />
        </activity>

        <!-- SearchActivity -->
        <activity
            android:name=".activity.SearchActivity"
            android:parentActivityName=".activity.MainActivity"
            android:launchMode="singleTask">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- TempActivity -->
        <activity
            android:name=".activity.TempActivity"
            android:parentActivityName=".activity.MainActivity"
            android:launchMode="singleTask">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- CourseDetailActivity -->
        <activity android:name=".activity.CourseDetailActivity"
            android:parentActivityName=".activity.MainActivity"
            android:launchMode="singleTask">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- TrainingRecordActivity -->
        <activity android:name=".activity.TrainingRecordActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".activity.MainActivity">
        <!-- 如果要支持android4.0以下的 -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".activity.MainActivity" />
        </activity>

        <!-- CoachDetailActivity -->
        <activity android:name=".activity.CoachDetailActivity"
            android:parentActivityName=".activity.MainActivity"
            android:launchMode="singleTask">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <!-- VideoDetailActivity -->
        <activity android:name=".activity.VideoDetailActivity"
            android:parentActivityName=".activity.CourseDetailActivity"
            android:launchMode="singleTask">
            <!-- 如果要支持android4.0以下的 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CourseDetailActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>